{# usage_template.j2 #}
System Usage Report
===================

CPU Usage:
----------
{% for line in cpu.split('\n') %}
{{ line }}
{% endfor %}

Memory Usage:
-------------
{% for line in memory.split('\n') %}
{{ line }}
{% endfor %}

Disk Usage:
-----------
{% for line in disk.split('\n') %}
{{ line }}
{% endfor %}
